{% extends "base.html" %}

{% block content %}
<div class="row">
	<table class="table">
		<thead>
			<tr>
				<th>사진</th>
				<th>아이템-옵션</th>
				<th>가격</th>
				<th>개수</th>
				<th>합계</th>
			</tr>
		</thead>
		<tbody>
			{% for cart_item in cart_items %}
			<tr>
				<td><img style="max-width:80px;" src="{{cart_item.item.image0.url}}"/></td>
				<td>{{ cart_item.item }} : {{ cart_item.item_option }}( +{{cart_item.item_option.option_price}} ) </td>
				<td>{{cart_item.item_plus_option_price}}</td>
				<td>{{cart_item.quantity}}</td>
				<td>{{cart_item.sub_total_price}}</td>
			</tr>
			{% endfor %}
			<tr>
				<td colspan="4">합계</td>
				<td>{{ total_price }}</td>
			</tr>
		</tbody>
	</table>
	<div>
	<a href="{% url 'order_info' %}" class="btn btn-primary">구매하기</a>

	</div>

</div>
{% endblock %}